<!DOCTYPE html>
<html>
<head>
  <title>LoveReasons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
</head>
<body>


<div class="ui container center" id="lovebox">
  <%= yield %>
</div>

</body>
</html>
