<!DOCTYPE html>
<html>
<head>
  <title>LoveReasons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="ui container center" id="lovebox">
  <%= yield %>
</div>

</body>
</html>
